<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Digi21.DigiNG" version="17.0.0" targetFramework="net46" developmentDependency="true" />
  <package id="Digi21.DigiNG.Io.BinDouble" version="17.0.0" targetFramework="net46" />
  <package id="Digi21.DigiNG.Plugin" version="17.0.0" targetFramework="net46" />
  <package id="Digi21.Utilities" version="17.0.0" targetFramework="net46" developmentDependency="true" />
</packages>